body {
  background-color: black;
  text-align: center;
}

.text {
 color: green;
 font-size: 30pt;
 text-align: center;
}

.text1 {
  color: palegreen;
  font-size: 25pt;
  text-align: center;
}

.footer{
  color: greenyellow;
}

.img{
    width: 25%;
    height: 25%;
}